<div class="swiper-slide slide" data-hash="2000">
    <div class="container">
        <div class="box box-02 open-page">
            <div class="floating">
               <div class="floating__image">
                <img src="https://cdn.ome.lt/q3sFj3nL2YGjsYdMF-zTidVTDEg=/fit-in/837x500/smart/uploads/conteudo/fotos/Lista-02_OL4QoHi.jpg"/>
               </div>
                <a class="link">teste</a>
            </div>
        </div>
        <div class="box box-03 open-page">
            <div class="floating">
                <div class="floating__image">
                    <img src="https://cdn.ome.lt/q3sFj3nL2YGjsYdMF-zTidVTDEg=/fit-in/837x500/smart/uploads/conteudo/fotos/Lista-02_OL4QoHi.jpg"/>
                </div>
                <a class="link">teste</a>
            </div>
        </div>
    
        <a class="more link open-page">ver mais</a>
    </div>


    <div class="page">
        <button class="close">X</button>
        <br><br><br>
        <div class="container">
            <div class="page__header">
                <div class="image">
                    <img src="https://cdn.ome.lt/q3sFj3nL2YGjsYdMF-zTidVTDEg=/fit-in/837x500/smart/uploads/conteudo/fotos/Lista-02_OL4QoHi.jpg"/>
                </div>
                <div class="text col-10">
                    <h2>Lorem ipsum dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis mattis neque. Etiam rhoncus sit amet nibh vel condimentum. Suspendisse egestas varius lobortis. Morbi suscipit nisi eu libero rhoncus, sit amet feugiat diam lacinia.
                    Phasellus hendrerit pharetra dignissim. Phasellus consectetur cursus leo, sed hendrerit ligula imperdiet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis euismod nulla vitae justo
                    vestibulum consequat.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-8">
                <div class="wrapper p-right">
                    <div class="acordion">
                        <div class="acordion__title">
                            <img src="https://cdn.ome.lt/q3sFj3nL2YGjsYdMF-zTidVTDEg=/fit-in/837x500/smart/uploads/conteudo/fotos/Lista-02_OL4QoHi.jpg"/>
                            <div class="label">
                                <h2>Lorem ipsum dolor</h2>
                                <p class="more">Veja mais</p>
                            </div>
                        </div>
            
                        <div class="acordion__text">
                            <button class="acordion-close">close</button>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis mattis neque. Etiam rhoncus sit amet nibh vel condimentum. Suspendisse egestas varius lobortis. Morbi suscipit nisi eu libero rhoncus, sit amet feugiat diam lacinia.
                            Phasellus hendrerit pharetra dignissim. Phasellus consectetur cursus leo, sed hendrerit ligula imperdiet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis euismod nulla vitae justo
                            vestibulum consequat.
                            </p>
                        </div>
                    </div>
                    <div class="acordion">
                        <div class="acordion__title">
                            <img src="https://cdn.ome.lt/q3sFj3nL2YGjsYdMF-zTidVTDEg=/fit-in/837x500/smart/uploads/conteudo/fotos/Lista-02_OL4QoHi.jpg"/>
                            <div class="label">
                                <h2>Lorem ipsum dolor</h2>
                                <p class="more">Veja mais</p>
                            </div>
                        </div>
            
                        <div class="acordion__text">
                            <button class="acordion-close">close</button>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis mattis neque. Etiam rhoncus sit amet nibh vel condimentum. Suspendisse egestas varius lobortis. Morbi suscipit nisi eu libero rhoncus, sit amet feugiat diam lacinia.
                            Phasellus hendrerit pharetra dignissim. Phasellus consectetur cursus leo, sed hendrerit ligula imperdiet at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis euismod nulla vitae justo
                            vestibulum consequat.
                            </p>
                        </div>
                    </div>
                </div>
        
            </div>
            <div class="col-4">
                <div class="wrapper-curtas">
                    <div class="swiper-container slide-curtas">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <div class="slide-content">
                                <h3>As Meninas Super Poderosas invadiram a terra</h3>
                              </div>
                              <img src="https://cdn.ome.lt/q3sFj3nL2YGjsYdMF-zTidVTDEg=/fit-in/837x500/smart/uploads/conteudo/fotos/Lista-02_OL4QoHi.jpg"/>
                          </div>
                          <div class="swiper-slide">
                              <div class="slide-content">
                                <h3>As Meninas Super Poderosas invadiram a terra</h3>
                              </div>
                              <img src="https://cdn.ome.lt/q3sFj3nL2YGjsYdMF-zTidVTDEg=/fit-in/837x500/smart/uploads/conteudo/fotos/Lista-02_OL4QoHi.jpg"/>
                          </div>
                        </div>
    
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>

 
    </div>
</div>