.acordion{
    width: 100%;
    margin: 0 auto 30px;
    padding: 0;
    display: flex;
    flex-direction: column;

    &__title{
        width: 100%;
        height: 390px;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        img{
            @include full-image;
        }

        .label{
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0 20px;
            color: white;

            h2{
                margin-bottom: 30px;
                font-size: 35px;
            }

            .more{
                width: max-content;
                font-size: 15px;
                text-transform: uppercase;
                padding-bottom: 10px;
                border-bottom: 5px solid $yellow;
            }
        }
    }

    &__text{
        display: none;
    }
}

