.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    li{
        cursor: pointer;
        font-weight: 900;
        font-size: 15px;
        padding-bottom: 1px;
        border-bottom: 2px solid transparent;
        transition: ease 0.3s;

        &:hover,
        &.active{
            border-color: black;
        }
    }
}