.page {
    width: 100vw;
    height: calc(100vh - 33px);
    background: white;
    position: absolute;
    top: 100%;
    overflow-y: auto;
    opacity: 0;
    z-index: 1;
    transition: ease 1s;
    padding: 30px 0;
    text-align: left;

    &.open {
        opacity: 1;
        top: -160px;
    }

    .close{
        font-size: 30px;
        right: 30px;
        position: fixed;
    }

    .container{
        height: auto;
        align-items: flex-start;
    }

    &__header{
        .image{
            width: 100%;
            height: 413px;
            overflow: hidden;

            img{
                @include full-image;
            }
        }

        .text{
            margin: 20px auto;

            h2{
                margin-bottom: 20px;
                font-weight: 900;
            }
        }
    }

    .wrapper-curtas{
        &.float{
            position: fixed;
            top: 0;
        }
    }
}

