.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    .container{
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.horizontal-slider{
    height: calc(100vh - 114px);

    .swiper-slide{
        height: calc(100vh - 160px);
        align-self: flex-end;
    }
}

.slide-curtas{
    .swiper-slide{
        overflow: hidden;

        .slide-content{
            width: 100%;
            height: 390px;
            position: relative;
            display: flex;
            justify-content: center;
            z-index: 1;

            h3{
                width: 85%;
                padding: 10px 15px;
                font-size: 18px;
                color: black;
                text-align: left;
                background: $yellow;
                position: absolute;
                bottom: 0;
            }
        }

        img{
            @include full-image;

            position: absolute;

        }
    }

    .swiper-button-next{
        right: 0;
    }

    .swiper-button-prev{
        left: 0;
    }

    .swiper-button-next,
    .swiper-button-prev{
        background: $yellow;
        width: 20px;
        height: 85px;

        &:after{
            color: black;
            font-size: 15px;
        }
    }
}