#omelete-logo{
    @include img-transitions;
    width: 200px;
    height: 55px;
    background-image: url(../img/omelete-logo-2000.png);
    margin: 25px auto 0;
}

.transition-slide{
    transition: ease 1s;

    &.start{
        filter: blur(30px);
    }

    &.end{
        filter: blur(0);
    }
}

#year {
    width: 100%;
    height: calc(100vh - 125px);
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        width: 560px;
        height: 202px;
        @include img-transitions;

        @include md{
            width: 420px;
        }
    }
}

.box {
	width: 250px;
    height: auto;
    position: absolute;
    cursor: pointer;
    transition: ease 1s;

    @include md{
        width: 220px;
    }

    &-01{
        left: 20%;
        top: 10%;
    }
    
    &-02{
        left: 10%;
        bottom: 22%;
    }
    
    &-03{
        right: 5%;
        top: 10%;

        @include md{
            top: 0%;
        }
    }
    
    &-04{
        right: 30%;
        bottom: 10%;
    }


    .floating__image{
        width: 100%;
        height: 200px;
        margin: 0 auto;
        transition: ease 1s;

        @include md {
            height: 150px;
        }

        img{
            @include full-image;
            transition: ease 1s;
        }
    }
    
}

a.more{
    margin-top: 50px;
    cursor: pointer;
}