<!DOCTYPE html>
<html lang="en">

    {% include "structure/head.html" %}

<body>

    {% include "structure/menu.html" %}

    <div class="container">
        <div id="omelete-logo" class="transition-slide"></div>
    </div>

    <div class="swiper-container horizontal-slider" id="horizontal-slider">
        <div class="swiper-wrapper">
            {% include "modules/slides/slide-2000.html" %}
            {% include "modules/slides/slide-2000-enquanto.html" %}
            {% include "modules/slides/slide-2001.html" %}
            {% include "modules/slides/slide-2000-enquanto.html" %}
            {% include "modules/slides/slide-2002.html" %}
            {% include "modules/slides/slide-2000-enquanto.html" %}
        </div>
    </div>

    <div id="year" class="transition-slide">
        <p></p>
    </div>

    <script src="js/scripts.js"></script>
</body>

</html>