@font-face {
    font-family: 'helvetica';
    src: url('fonts/helvetica-neue-bold.svg') format('svg'),
         url('fonts/helvetica-neue-bold.ttf') format('truetype'),
         url('fonts/helvetica-neue-bold.eot') format('embedded-opentype'),
         url('fonts/helvetica-neue-bold.woff') format('woff'),
         url('fonts/helvetica-neue-bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'uni';
    src: url('fonts/UniNeueHeavy.svg') format('svg'),
         url('fonts/UniNeueHeavy.ttf') format('truetype'),
         url('fonts/UniNeueHeavy.eot') format('embedded-opentype'),
         url('fonts/UniNeueHeavy.woff') format('woff'),
         url('fonts/UniNeueHeavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'uni';
    src: url('fonts/UniNeueRegular-Italic.svg') format('svg'),
         url('fonts/UniNeueRegular-Italic.ttf') format('truetype'),
         url('fonts/UniNeueRegular-Italic.eot') format('embedded-opentype'),
         url('fonts/UniNeueRegular-Italic.woff') format('woff'),
         url('fonts/UniNeueRegular-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
  }
  

  
  