/* Breakpoins */
@mixin mobile {
  @media (max-width: $small) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 992px) and (max-width: 1299px) {
    @content;
  }
}


@mixin lg {
  @media (min-width: 1300px)  {
    @content;
  }
}

@mixin full-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin img-transitions {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}