.theme-2000{  
    $yellow: #fbcc33;
    $blue: #254afa;

    background-color: $yellow;

    .link{
        text-decoration: underline;
        color: $blue;
    }

    .box-02{
        .floating__image{
            transform: scale(0.8);
        }
        
    }

    .box-03{
        .floating__image{
            transform: scale(0.9);
        }        
    }

    .floating{
        &__image{
            box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 1);
        }
    }

    #omelete-logo{
        background-image: url(../img/omelete-logo-2000.png);
    }

    #year{
        p{
            background-image: url(../img/ano-2000.png);
        }
    }
}