.theme-enquanto{
    background: $yellow;

    .img-enquanto{
        position: absolute;
        top: 30px;
    }

    &-box {
        width: 380px;
        height: 250px;
        position: absolute;
        cursor: pointer;
        transition: ease 1s;

        @include md{
            height: 260px;
        }

        .floating__image{
            height: 260px;
            width: 100%;
            margin: 0 auto;
            transition: ease 1s;

            @include md{
                height: 150px;
            }
    
            img{
                @include full-image;
                transition: ease 1s;
            }
        }
    
        &-01{
            width: 280px;
            left: 30%;
            top: 15%;

            @include md{
                width: 200px;
                top: 0%;
                left: 30%;
            }

            .floating__image{
                height: 190px;

                @include md{
                    height: 130px;
                }
            }
        }
        
        &-02{        
            left: 21%;
            bottom: 28%;

            @include md{
                width: 280px;
                left: 21%;
                bottom: 12%;
            }

            .floating__image{
                @include md{
                    height: 180px;
                }
            }
        }
        
        &-03{
            right: 5%;
            top: 18%;

            @include md{
                right: 7%;
                top: 5%;
                width: 275px;
            }

            .floating__image{
                @include md{
                    height: 175px;
                }
            }
        }
        
        &-04{
            right: 11%;
            bottom: 18%;
            width: 320px;

            @include md{
                right: 16%;
                bottom: 0;
                width: 195px;
            }

            .floating__image{
                height: 200px;

                @include md{
                    height: 125px;
                }
            }
        }
        
    }
}