.theme-2001{  
    $yellow: #fbcc33;
    $blue: #254afa;

    background-color: $yellow;

    .link{
        text-decoration: underline;
        color: $blue;
    }

    .box-02{
        .floating__image{
            transform: scale(1);
        }
        
    }

    .box-03{
        .floating__image{
            transform: scale(0.8);
        }        
    }

    .floating{
        &__image{
            box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 1);
        }
    }

    #year{
        p{
            background-image: url(../img/ano-2001.png);
        }
    }
}