<nav class="container">
    <ul class="menu">
        <li class="2000 active" data-index="0">2000</li>
        <li class="2001" data-index="2">2001</li>
        <li class="2002" data-index="4">2002</li>
        <li class="2003" data-index="6">2003</li>
        <li class="2004" data-index="8">2004</li>
        <li class="2005" data-index="10">2005</li>
        <li class="2006" data-index="12">2006</li>
        <li class="2007" data-index="14">2007</li>
        <li class="2008" data-index="16">2008</li>
        <li class="2009" data-index="18">2009</li>
        <li class="2010" data-index="20">2010</li>
        <li class="2011" data-index="22">2011</li>
        <li class="2012" data-index="24">2012</li>
        <li class="2013" data-index="26">2013</li>
        <li class="2014" data-index="28">2014</li>
        <li class="2015" data-index="30">2015</li>
        <li class="2016" data-index="32">2016</li>
        <li class="2017" data-index="34">2017</li>
        <li class="2018" data-index="36">2018</li>
        <li class="2019" data-index="38">2019</li>
        <li class="2020" data-index="40">2020</li>
    </ul>
</nav>